
.homeinterior-section{
    display: flex;
    justify-content: center;
}



.homeinterior-item{
    margin-left: 16px;
    padding: 0 16px;
    color: #fff;
    border-radius: 5px;
    line-height: 38px;
    cursor: pointer;
    font-size: 14px;
    background: #eb5976;
}


.homeinterior-section-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 20px;

}


.homeinterior-item-card{
    width: 300px;
}


.homeinterior-item-card>img{
    width: 100%;
}

.homeinterior-item-card>h4{
position: relative;
bottom:50px;
color: #fff;
padding: 10px;

}