.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    /* width: 250px; */
   
/* margin: 20px ; */

   
  }
  
  /* Keyframes for fade-in animation */
@keyframes bounceDown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  60% {
    opacity: 1;
    transform: translateY(10px);
  }
  80% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Class to apply the fade-in animation */
.fade-in {
  animation: bounceDown 1s ease-out;
}

  .card-image {
    width: 100%;
    height: auto;
  }
  
  .card-content {
    padding: 15px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    
  }
  
  .card-title {
    font-size: 1.25em;
    margin: 0 0 10px;
  }
  
  .card-description {
    font-size: 1em;
    color: #555;
  }
  
.card-description-color{
  color:#5f449b;
  font-size: 16px;
  font-weight:bold;
   margin-top:5px;
}

  /* Responsive styles for mobile devices */
@media (max-width: 600px) {
  .card {
      margin: 10px;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  }

  .card-title {
      font-size: 1.2em;
  }

  .card-description {
      font-size: 0.9em;
  }

  .card-content {
      padding: 10px;
  }
}